# Main API URL for the frontend components
VITE_API_BASE_URL=https://your-backend-url.onrender.com/api

# Axios API URL
VITE_API_URL=https://your-backend-url.onrender.com/api

# WebSocket URL (No /api suffix)
VITE_SOCKET_URL=https://your-backend-url.onrender.com